<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/node_modules/@brightspace-ui/core/components/demo/styles.css" type="text/css">
		<script type="module">
			import '@brightspace-ui/core/components/demo/demo-page.js';
			import '../../../src/components/community-link/community-link.js';
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
	</head>
	<body unresolved>
		<d2l-demo-page page-title="Community Link">

			<d2l-demo-snippet>
				<template>
					<d2l-labs-link-community article-map='{"en": 4545, "ar-SA": 10489, "es-MX": 9214, "pt-BR": 9978, "nl-NL": 7833, "fr-CA": 6739}'>Localized link to community article. Use language selector to change link location</d2l-community-link>
				</template>
			</d2l-demo-snippet>
		</d2l-demo-page>
	</body>
</html>
