<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/node_modules/@brightspace-ui/core/components/demo/styles.css" type="text/css">
		<script type="module">
			import '@brightspace-ui/core/components/demo/demo-page.js';
			import './colourblind-filter-wrapper-demo.js';
		</script>
		<title>colourblind-filter</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
	</head>

	<body>
		<d2l-demo-page page-title="colourblind-filter">
			<d2l-demo-snippet>
				<d2l-labs-colourblind-filter-wrapper-demo></d2l-labs-colourblind-filter-wrapper-demo>
			</d2l-demo-snippet>
		</d2l-demo-page>
	</body>
</html>
