<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/node_modules/@brightspace-ui/core/components/demo/styles.css" type="text/css">
		<script type="module">
			import '@brightspace-ui/core/components/demo/demo-page.js';
			import '@brightspace-ui/core/components/menu/menu.js';
			import '@brightspace-ui/core/components/menu/menu-item.js';
			import '../../../src/components/menu-item-ai/menu-item-ai.js';
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
	</head>
	<body unresolved>
		<d2l-demo-page page-title="d2l-menu-item-ai">
			<h2>Menu Item AI</h2>
			<d2l-demo-snippet>
				<d2l-menu label="Astronomy">
					<d2l-menu-item-ai text="Manage Lumi Learner Mode"></d2l-menu-item-ai>
				</d2l-menu>
				<script>
					document.querySelector('d2l-menu').addEventListener('d2l-menu-item-select', (e) => {
						console.log(`${e.target.text} selected!`);
					});
				</script>
			</d2l-demo-snippet>

			<h2>Menu Item AI (mixed with regular menu items)</h2>
			<d2l-demo-snippet>
				<d2l-menu label="Astronomy">
					<d2l-menu-item text="Earth"></d2l-menu-item>
					<d2l-menu-item-ai text="Manage Lumi Learner Mode"></d2l-menu-item-ai>
					<d2l-menu-item text="Mars"></d2l-menu-item>
				</d2l-menu>
			</d2l-demo-snippet>

			<h2>Menu Item AI (disabled)</h2>
			<d2l-demo-snippet>
				<d2l-menu label="Astronomy">
					<d2l-menu-item-ai text="Manage Lumi Learner Mode" disabled></d2l-menu-item-ai>
				</d2l-menu>
			</d2l-demo-snippet>

			<h2>Menu Item AI (truncation)</h2>
			<d2l-demo-snippet>
				<d2l-menu label="Astronomy" style="width: 200px;">
					<d2l-menu-item-ai text="Manage Lumi Learner Mode with AI so that the text wraps and eventually truncates"></d2l-menu-item-ai>
					<d2l-menu-item-ai lines="1" text="Manage Lumi Learner Mode with AI so that the text truncates on a single line"></d2l-menu-item-ai>
				</d2l-menu>
			</d2l-demo-snippet>

			<h2>Menu Item AI (nested menu)</h2>
			<d2l-demo-snippet>
				<d2l-menu label="Astronomy">
					<d2l-menu-item-ai text="Manage Lumi Learner Mode">
						<d2l-menu>
							<d2l-menu-item text="Short summary"></d2l-menu-item>
							<d2l-menu-item text="Detailed summary"></d2l-menu-item>
						</d2l-menu>
					</d2l-menu-item-ai>
				</d2l-menu>
			</d2l-demo-snippet>
		</d2l-demo-page>
	</body>
</html>
